

/*-----------------------------
             Fonts
------------------------------ */


/* ---poppins--- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*-------------------------------
            CSS Design
-------------------------------- */




/*------------ common css-------- */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;


}

footer{
    font-family: 'Poppins', sans-serif;
    background-color: #dbd8d8;
}



/*--------- header-------- */


.header-container{

    height: 677px;
    background-color: blue;



}

.menu-container{
    position: relative;
    top: 42px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(203, 203, 230); */
}

.menu {
    width: 1162px;

    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

}

/* .left-nav{
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap row;
    align-items: center;
}
.right-nav {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items: center;
} */



.left-nav>a,
.right-nav>a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    margin-right: 36px;
    color: white;
    font-weight: 500;
    padding: 10px;
    

}

#menu-item{
    
    margin-right: 0;
    background-color: #E02C6D;
}

.fa-sign-in{
    height: 24px;
    width: 24px;
}


/* article section */


.cover{
    margin-top: 44px;
    height: 591px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.details{
    width: 50%;
    
    
    display: flex;
    flex-flow: wrap column;
    align-content: flex-end;
    

}

.banner{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

.title{
    width: 50%;
    width: 485px;
    height: 230px;
    

}


.title > h3{

    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 80px;

    margin-bottom: 0px;
    margin-top: 0px;

}


.live-button{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #E02C6D;
    height: 44px;
    width: 168px;
    padding: 10px, 24px, 10px, 24px;

}

.live-button a{
    
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    

}

.banner img{
    width: 556px;
    height: 438px;
    
}


/*----------------------------------
           player profile
----------------------------------- */

.player-container{

    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.players-profile{
    width: 1050px;
    

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    row-gap: 27px;
    
    

}
.player{
    
    padding-top: 15px;
    /* border-bottom-width: 5px; */
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    height: 420px;
    width: 300px;

    border:3px solid rgb(0, 0, 0);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.photo{
    height: 256px;
    margin-top: 0px;
}

.photo> img{
    width: 300px;
    height:256px;
    margin:16px 0;
    margin-top: 0px;
}

.name{
    margin-top: 0px;
    margin-bottom: 0px;

}
.name>h5{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
}

.description{
    margin-top: 10px;
    margin-bottom: 0px;
}

.description>p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;

}

/*------------------------------
             footer
------------------------------ */


.footer-container{
    margin-top: 100px;
    padding: 20px 20px;
    display: flex;
    flex-flow:wrap column;
    justify-content: center;
    align-items: center;
}

.website-logo{
    height: 110px;
}

.website-logo>img{
    height: 110px;
    width: 484px;
    
}

.s-link{
    margin: 0px 14px;
    
}

    
.fa-facebook{
    color: blue;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

   }
.fa-whatsapp-square{

    color:rgb(15, 122, 15);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

} 

.fa-youtube{
    color:red;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

}
.fa-twitter-square{
    color:rgb(0, 217, 255);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    
    


}
    



.copywrite{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;

}






