/*-----------------------------
             Fonts
------------------------------ */



/* ---poppins--- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');







/*-------------------------------
            CSS Design
-------------------------------- */





/*------------ common css-------- */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;


}

footer{
    font-family: 'Poppins', sans-serif;
    background-color: #dbd8d8;
}



/*--------- header-------- */


.header-container{

    height: 677px;
    background-color: blue;


}

/*---- navigation bar----- */

.menu-container{
    position: relative;
    top: 42px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu {
    width: 1162px;

    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;

}


.left-nav>a,
.right-nav>a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    margin-right: 36px;
    color: white;
    font-weight: 500;
    padding: 10px;
    

}

#menu-item{
    
    margin-right: 0;
    background-color: #E02C6D;
}

.fa-sign-in{
    height: 24px;
    width: 24px;
}


/*--------------------------------------
           article section
-------------------------------------- */


.cover{
    margin-top: 44px;
    height: 591px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.details{
    width: 50%;
    
    
    display: flex;
    flex-flow: wrap column;
    align-content: flex-end;
    

}

.banner{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

.cover:hover .banner{
    transform: scale(.8);
    transition: transform 3s ease-in-out;
}

.title{
    width: 50%;
    width: 485px;
    height: 230px;
    

}


.title > h3{

    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 80px;

    margin-bottom: 0px;
    margin-top: 0px;

}


.live-button{
    width: 50%;
    height: 44px;
    width: 168px;
    background: #E02C6D;

    overflow: hidden;
    

}

.live-button:hover{
    background-color:green;
    color:white;
    transform: scale(1.3);
    transition: transform 1.5s ease-in-out;
    
    
    
}

.live-button a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 44px;
    width: 168px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    
    

}

.banner img{
    width: 556px;
    height: 438px;
    
}


/*----------------------------------
           player profile
----------------------------------- */

.player-container{

    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.players-profile{
    width: 1050px;
    

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    row-gap: 27px;
    
    

}
.player{
    
    padding-top: 15px;
    /* border-bottom-width: 5px; */
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    height: 420px;
    width: 300px;

    border:3px solid rgb(0, 0, 0);
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.photo{
    height: 256px;
    margin-top: 0px;
}

.photo> img{
    width: 300px;
    height:256px;
    margin:16px 0;
    margin-top: 0px;
}

.name{
    margin-top: 0px;
    margin-bottom: 0px;

}
.name>h5{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
}

.description{
    margin-top: 10px;
    margin-bottom: 0px;
}

.description>p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;

}



/*--------------------------------
        league information
 --------------------------------- */

 #le-h3{
     font-size: 30px;
     font-weight: 700;
     color: white;
        
}




 .league-container{
     background-color: blue;
     margin-top: 30px;
     margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


 }


.latest-league{
     background-color: rgb(198, 202, 162);
     border-radius: 10px;

    width: 1100px;
    height: 362px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.league{

    background-color: tomato;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px white;
    width: 250px;
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

}
.thambnail{
    width: 224px;
    height: 104px;
    


}


.thambnail>img{
    width: 224px;
    height: 104px;

}

.league-tittle{
    margin-top: 0px;
    margin-bottom: 0px;
}
.league-tittle h4{
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.league-details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.filled{
    color: yellow;
}
.count p{
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.next-match h5{
    font-size: 20px;

    margin-top: 0px;
margin-bottom: 0px;
}


.next-match a{
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    padding: 0px 5px;


}


/*------------------------------
        email submission
-------------------------------- */

#e-h3{
    text-align: center;
    font-size: 30px;
    font-weight: 700;

}


.email-submission{
    margin-bottom: 10px;
    height: 200px;
    background-color: wheat;

    display: flex;
    justify-content: center;
    align-items: center;

}

.email{

    width: 1050px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
}

input{
    width: 70%;
    height: 70px;
    border-radius: 20px;

    font-size: 20px;
    color: red;
    font-weight: 700;
}

button{
    margin: 0 20px ;
    padding: 15px;
    background-color: rgb(24, 102, 8);
    color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
}


/*------------------------------
             footer
------------------------------ */


.footer-container{
    margin-top: 20px;
    padding: 20px 20px;
    display: flex;
    flex-flow:wrap column;
    justify-content: center;
    align-items: center;
}

.website-logo{
    height: 110px;
}

.website-logo>img{
    height: 110px;
    width: 484px;
    
}

.s-link{
    margin: 0px 14px;
    
}

    
.fa-facebook{
    color: blue;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

   }
.fa-whatsapp-square{

    color:rgb(15, 122, 15);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

} 

.fa-youtube{
    color:red;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

}
.fa-twitter-square{
    color:rgb(0, 217, 255);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    
    


}
    



.copywrite{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;

}


/* -------------------------------------
             media quaries
            
        **** For tab/ipad device ****
---------------------------------------- */



@media only screen and (max-width:992px) {

    body,footer{

        overflow-x: hidden;
    }




    /*-------- common design ----------- */



    /*---------- header----------- */


    .menu-container{
        display: none;
        
    }



/*---------- cover--------- */



.cover{
    margin-top: 0;
    height: 700px;
    width:750px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.details{
    
    
    
    display: flex;
    flex-flow: wrap column;
    align-content: center;
    

}

.banner{
    margin-top: 50px;
    width: 450px;
    height: 310px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.cover:hover .banner{
    transform: scale(.8);
    transition: transform 3s ease-in-out;
}

.title{
    
    width: 350px;
    height: 150px;
    

}


.title > h3{

    font-size: 50px;
    font-weight: 700;
    color: white;
    line-height: 50px;

    margin-bottom: 0px;
    margin-top: 0px;

}


.live-button{
    
    height: 44px;
    width: 168px;
    background: #E02C6D;
    

}

.live-button:hover{
    background-color: rgb(15, 122, 15);
    color: white;

}

.live-button a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 44px;
    width: 168px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    
    

}

.banner img{
    width: 450px;
    height: 310px;
    
}


    /* ---------player profile----------- */


    .player-container{

        margin-top: 55px;
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
    .players-profile{
        width: 720px;
        
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
        row-gap: 30px;
        
        
    
    }
    .player{
        
        padding-top: 15px;
        
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        height: 420px;
        width: 300px;
    
        border:3px solid rgb(0, 0, 0);
        background-color: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
    }
    
    .photo{
        height: 256px;
        margin-top: 0px;
    }
    
    .photo> img{
        width: 300px;
        height:256px;
        margin:16px 0;
        margin-top: 0px;
    }
    
    .name{
        margin-top: 0px;
        margin-bottom: 0px;
    
    }
    .name>h5{
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    
    .description{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .description>p{
        font-size: 16px;
        line-height: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
    
    }

    /*----- latest league------- */

    
 #le-h3{
    font-size: 35px;
    font-weight: 700;
    color: white;
       
}




.league-container{
    background-color: blue;
    margin-top: 30px;
    margin-bottom: 40px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}


.latest-league{
    margin-bottom: 25px;
    
    background-color: rgb(198, 202, 162);
    border-radius: 10px;

   width: 100%;
   height: 100%;

   display: flex;

   flex-direction:row;
   flex-wrap: wrap;
   
   justify-content:space-evenly;
   align-items: center;

}

.league{
    margin-top: 20px;
    margin-bottom: 30px;
    

   background-color: tomato;
   border-radius: 10px;
   box-shadow: 0 0 5px 5px white;
   width: 250px;
   height: 270px;

   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: center;

}
.thambnail{
   width: 224px;
   height: 104px;
   


}


.thambnail>img{
   width: 224px;
   height: 104px;

}

.league-tittle{
   margin-top: 0px;
   margin-bottom: 0px;
}
.league-tittle h4{
   font-size: 20px;
   line-height: 24px;
   margin-top: 0px;
   margin-bottom: 0px;

}
.league-details{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.filled{
   color: yellow;
}
.count p{
   margin-left: 6px;
   margin-right: 6px;
   margin-top: 0px;
   margin-bottom: 0px;

}

.next-match h5{
   font-size: 20px;

   margin-top: 0px;
margin-bottom: 0px;
}


.next-match a{
   text-decoration: none;
   background-color: white;
   border-radius: 20px;
   padding: 0px 5px;


}

/*------ email------- */


#e-h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}


.email-submission{
    margin-bottom: 10px;
    height: 200px;
    background-color: wheat;

    display: flex;
    justify-content: center;
    align-items: center;

}

.email{

    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
}

input{
    width: 75%;
    height: 70px;
    border-radius: 20px;

    font-size: 25px;
    color: red;
    font-weight: 700;
}

button{
    margin: 0 20px ;
    padding: 15px;
    background-color: rgb(24, 102, 8);
    color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
}

/* ------footer------- */


.footer-container{
    margin-top: 20px;
    padding: 25px 20px;
    display: flex;
    flex-flow:wrap column;
    justify-content: center;
    align-items: center;
}

.website-logo{
    height: 100px;
}

.website-logo>img{
    height: 100px;
    width: 200px;
    
}

.s-link{
    margin: 0px 12px;
    
}

    
.fa-facebook{
    color: blue;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

   }
.fa-whatsapp-square{

    color:rgb(15, 122, 15);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

} 

.fa-youtube{
    color:red;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

}
.fa-twitter-square{
    color:rgb(0, 217, 255);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    
    
}
    
.copywrite{
    font-size: 21px;
    line-height: 28px;
    font-weight: 400;

}


    
}






/* -------------------------------------
             media quaries
            
        **** For mobile device ****
---------------------------------------- */


@media only screen and (max-width:668px) {

    body,footer{

        overflow-x: hidden;
    }




    /*-------- common design ----------- */



    /*---------- header----------- */


    .menu-container{
        display: none;
    }



/*---------- cover--------- */



.cover{
    margin-top: 0;
    height: 695px;
    width:360px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.details{
    
    
    
    display: flex;
    flex-flow: wrap column;
    align-content: center;
    

}

.banner{
    margin-top: 50px;
    width: 230px;
    height: 259px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.cover:hover .banner{
    transform: scale(.8);
    transition: transform 3s ease-in-out;
}

.title{
    
    width: 278px;
    height: 138px;
    

}


.title > h3{

    font-size: 36px;
    font-weight: 700;
    color: white;
    line-height: 50px;

    margin-bottom: 0px;
    margin-top: 0px;

}


.live-button{
    
    height: 44px;
    width: 168px;
    background: #E02C6D;
    

}

.live-button a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 44px;
    width: 168px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    
    

}

.live-button:hover{
    background-color:green;
    color:white;
    transform: scale(1.3);
    transition: transform 1.3s ease-in-out;
    
    
    
}

.banner img{
    width: 230px;
    height: 259px;
    
}


    /* ---------player profile----------- */


    .player-container{

        margin-top: 47px;
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
    }
    .players-profile{
        width: 360px;
        
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 15px;
        row-gap: 42px;
        
        
    
    }
    .player{
        
        padding-top: 15px;
        /* border-bottom-width: 5px; */
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        height: 420px;
        width: 300px;
    
        border:3px solid rgb(0, 0, 0);
        background-color: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
    }
    
    .photo{
        height: 256px;
        margin-top: 0px;
    }
    
    .photo> img{
        width: 300px;
        height:256px;
        margin:16px 0;
        margin-top: 0px;
    }
    
    .name{
        margin-top: 0px;
        margin-bottom: 0px;
    
    }
    .name>h5{
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    
    .description{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .description>p{
        font-size: 16px;
        line-height: 26px;
        margin-top: 0px;
        margin-bottom: 0px;
    
    }

    /*----- latest league------- */

    
 #le-h3{
    font-size: 30px;
    font-weight: 700;
    color: white;
       
}




.league-container{
    background-color: blue;
    margin-top: 30px;
    margin-bottom: 40px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}


.latest-league{
    margin-bottom: 20px;
    
    background-color: rgb(198, 202, 162);
    border-radius: 10px;

   width: 100%;
   height: 100%;

   display: flex;

   flex-direction: column;
   flex-wrap: wrap;
   
   justify-content:space-evenly;
   align-items: center;

}

.league{
    margin-top: 15px;
    margin-bottom: 30px;
    

   background-color: tomato;
   border-radius: 10px;
   box-shadow: 0 0 5px 5px white;
   width: 250px;
   height: 270px;

   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: center;

}
.thambnail{
   width: 224px;
   height: 104px;
   


}


.thambnail>img{
   width: 224px;
   height: 104px;

}

.league-tittle{
   margin-top: 0px;
   margin-bottom: 0px;
}
.league-tittle h4{
   font-size: 20px;
   line-height: 24px;
   margin-top: 0px;
   margin-bottom: 0px;

}
.league-details{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.filled{
   color: yellow;
}
.count p{
   margin-left: 6px;
   margin-right: 6px;
   margin-top: 0px;
   margin-bottom: 0px;

}

.next-match h5{
   font-size: 20px;

   margin-top: 0px;
margin-bottom: 0px;
}


.next-match a{
   text-decoration: none;
   background-color: white;
   border-radius: 20px;
   padding: 0px 5px;


}

/*------ email------- */


#e-h3{
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}


.email-submission{
    margin-bottom: 10px;
    height: 200px;
    background-color: wheat;

    display: flex;
    justify-content: center;
    align-items: center;

}

.email{

    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
}

input{
    width: 60%;
    height: 70px;
    border-radius: 20px;

    font-size: 20px;
    color: red;
    font-weight: 700;
}

button{
    margin: 0 20px ;
    padding: 15px;
    background-color: rgb(24, 102, 8);
    color: white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
}

/* ------footer------- */


.footer-container{
    margin-top: 20px;
    padding: 15px 15px;
    display: flex;
    flex-flow:wrap column;
    justify-content: center;
    align-items: center;
}

.website-logo{
    height: 70px;
}

.website-logo>img{
    height: 70px;
    width: 150px;
    
}

.s-link{
    margin: 0px 10px;
    
}

    
.fa-facebook{
    color: blue;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

   }
.fa-whatsapp-square{

    color:rgb(15, 122, 15);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

} 

.fa-youtube{
    color:red;
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    

}
.fa-twitter-square{
    color:rgb(0, 217, 255);
    border-radius: 20%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    
    
}
    
.copywrite{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

}


    
}


    
/********* The End **********/




